*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #ffd4e8;
    font-family: Arial, sans-serif;
}

/* header */
#header-site {
    padding: 10px 60px;
    background-color: #f8338f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

/* logo/imagem */
#header-site #img-header {
    width: 150px;
    height: 110px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#header-site #img-header img{
    height: 70px;
    width: auto;
    object-fit: cover;
    object-position: center;
    margin-bottom: -8px;
}

#header-site #img-header p{
    font-weight: 300;
}

#header-site #img-header #p1{
    font-size: 25px;
    font-family: 'Shrikhand', cursive;
    margin-bottom: -10px;
}

#header-site #img-header #p2{
    font-size: 15px;
    font-family: 'Chewy', cursive;
    margin-top: -5px;
}

/* menu sanduiche */
#header-site #nav-header #box-btn-hamburguer{
    display: none;
}

#header-site #nav-header #box-btn-hamburguer #btn-hamburguer{
    background: transparent;
    border: none;
}

#header-site #nav-header #box-btn-hamburguer div{
    height: 5px;
    width: 40px;
    background-color: white;
    margin-bottom: 5px;
}

/* menu sanduiche fechado*/
#header-site #nav-header #btn-hamburguer.ativo div{
    display: none;
}

#header-site #nav-header #btn-hamburguer.ativo div:first-child{
    display: block;
    position: relative;
    margin: 0;
    transform: translate(2%, 72%) rotate(45deg);
    transition: transform 0.3s ease;
}

#header-site #nav-header #btn-hamburguer.ativo div:last-child{
    display: block;
    position: relative;
    margin: 0;
    transform: translateY(-40%) rotate(-45deg);
    transition: transform 0.3s ease;
}

/* nav bar */
#header-site #nav-header{
    padding: 5px 0;
    height: 40px;
}

#header-site #nav-header ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
}

#header-site #nav-header ul .item-nav-header {
    height: 100%;
}

#header-site #nav-header ul .item-nav-header a {
    padding: 8px 16px;
    display: inline-block;
    color: #ffd4e8;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

#header-site #nav-header ul .item-nav-header a:hover {
    border-bottom: 2px solid #ffd4e8;
}

/* imagem e texto*/
#section-desc{
    padding: 50px 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#section-desc img{
    height: 300px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

#section-desc #texto-desc{
    font-size: 15px;
    color: black;
    font-weight: 600;
    padding: 0 50px 0 100px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

/* menu sanduiche */
#header-site #nav-header #box-btn-hamburguer{
    display: none;
}

#header-site #nav-header #box-btn-hamburguer #btn-hamburguer{
    background: transparent;
    border: none;
}

#header-site #nav-header #box-btn-hamburguer div{
    height: 5px;
    width: 40px;
    background-color: white;
    margin-bottom: 5px;
}

/* menu sanduiche fechado*/
#header-site #nav-header #btn-hamburguer.ativo div{
    display: none;
}

#header-site #nav-header #btn-hamburguer.ativo div:first-child{
    display: block;
    position: relative;
    margin: 0;
    transform: translate(2%, 72%) rotate(45deg);
    transition: transform 0.3s ease;
}

#header-site #nav-header #btn-hamburguer.ativo div:last-child{
    display: block;
    position: relative;
    margin: 0;
    transform: translateY(-40%) rotate(-45deg);
    transition: transform 0.3s ease;
}

/* nav bar */
#header-site #nav-header{
    padding: 5px 0;
    height: 40px;
}

#header-site #nav-header ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
}

#header-site #nav-header ul .item-nav-header {
    height: 100%;
}

#header-site #nav-header ul .item-nav-header a {
    padding: 8px 16px;
    display: inline-block;
    color: #ffd4e8;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

#header-site #nav-header ul .item-nav-header a:hover {
    border-bottom: 2px solid #ffd4e8;
}

/* imagem e texto*/
#section-desc{
    padding: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#section-desc img{
    height: 300px;
    width: auto;
    object-position: center;
}

#section-desc #texto-desc{
    font-size: 15px;
    color: black;
    font-weight: 600;
    padding: 0 50px 0 50px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

/* carrosel*/
#sec-carrosel{
    background-color: #ffd4e8;
    text-align: center;
    justify-content: center;
    align-items: center;    
}

#sec-carrosel p{
    color: #f8338f;
    padding: 20px 0 20px 0;
    font-family: 'Chewy', cursive;
    font-size: 25px;
}

.slide{
    width: max-content;
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: left .4s cubic-bezier(.47, .13, .15, .89);
}

.corrosel {
    position: relative;
    width: 50%;
    height: 50px;
    margin: 0 auto;
}

.carrosel-cont {
    position: relative;
    overflow: hidden;
    transition: width .4s;
    height: 300px;
    width: 300px;
    
}

.carrosel-cont .slide .box-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 10px 14px;
    border-radius: 25px;
}

.carrosel-cont .slide .box-img img {
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
}

/* formulario */
/*
#sec-contato p {
    color: #f8338f;
    padding: 20px 0 20px 0;
    font-family: 'Chewy', cursive;
    font-size: 25px;
}
*/

#sec-contato{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#form-contato{
    display: flex;
    flex-direction: column;
}
.row{
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}
#form-contato input, #form-contato textarea{
    border: 2px solid rgb(139, 139, 139);
    padding: 6px 12px;
    border-radius: 4px;
}

#form-contato label {
    color: black;
    font-size: 15px;
    font-family: Arial, sans-serif;
    text-align: left;
}

#form-contato #enviar {
    padding: 10px 20px 10px 20px;
    background-color: #f8338f;
    color: white;
    font-family: 'Chewy', cursive;
    letter-spacing: 2px;
    font-size: 15px;
}

/* tablet */
@media (max-width: 768px) {
    #header-site #nav-header{
        height: auto;
    }

    #header-site #nav-header #box-btn-hamburguer{
        display: block;
    }

    #header-site #nav-header ul .item-nav-header a {
        padding: 20px 20px 20px 30px;
    }

    #header-site #nav-header ul {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #f8338f;
        right: 0;
        height: fit-content;
        width: 80vw;
        top: 100%;
    }

    #header-site #nav-header ul.ativo{
        display: block;
    }

    /* imagem e texto*/
    #section-desc{
        text-align: center;
        padding: 20px;
        flex-direction: column;
    }

    #section-desc img{
        height: auto;
        width: 450px;
    }

    #section-desc #texto-desc{
        font-size: 30px;
        color: black;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 1.5;
        padding: 20px;
    }
}

/* celular */
@media (max-width: 525px) {
    #header-site #nav-header{
        height: auto;
    }

    #header-site #nav-header #box-btn-hamburguer{
        display: block;
    }

    #header-site #nav-header ul .item-nav-header a {
        padding: 20px;
    }

    #header-site #nav-header ul {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #f8338f;
        left: 0;
        width: 100vw;
        top: 100%;
        text-align: center;
    }

    #header-site #nav-header ul.ativo{
        display: block;
    }

    /* imagem e texto*/
    #section-desc{
        text-align: center;
        padding: 20px;
        flex-direction: column;
    }

    #section-desc img{
        height: auto;
        width: 250px;
    }

    #section-desc #texto-desc{
        font-size: 20px;
        color: black;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 1.5;
        padding: 20px;
    }
}