/*   HEADER, CABEÇA DA PÁGINA   */
header {
    background-color: #ff598b;
    height: 90px;
    align-items: center; /* Alinha o logo verticalmente no centro */
}

* {
    padding: 0;
    margin: 0;
}

#logotop {
    height: 80px;
    padding-left: 50px;
}

ul {
    list-style-type: none; /* Remove as bolinhas dos itens da lista */
    padding: 0; /* Remove o preenchimento padrão */
    margin: 0; /* Remove a margem padrão */
}

header, nav ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
   
nav ul li {
    margin-left: 1rem;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
/*-------------------------------------*/

/*   Coiso   */
#coiso {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinha o logo verticalmente no centro */
    padding: 50px;
}

#roblox {
    height: 250px;
    width: auto;
}

#coisotexto {
    width: 600px; /* Define uma largura fixa */
    margin: 0; /* Remove margens desnecessárias */
    font-family: 'Inter', sans-serif;
    font-weight: 550;
    text-align: center;
    line-height: 1.6;
    padding: 20px;
    box-sizing: border-box;
    word-wrap: break-word; /* Quebra palavras longas, se necessário */
    color: #382f32;
}
/*-------------------------------------*/

/*   Sobre   */
#sobre {
    background: #fbc5d8;
    padding: 40px 20px;
    box-sizing: border-box;
    text-align: center; /* Centraliza todo o conteúdo */
}

#sobretexto {
    font-size: 1.2rem; /* Ajusta o tamanho da fonte do texto */
    color: #ff598b;
    width: 600px; /* Define uma largura fixa */
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 550;
    line-height: 1.6;
    padding: 20px;
    box-sizing: border-box;
    word-wrap: break-word; /* Quebra palavras longas, se necessário */
}
/*-------------------------------------*/

/*   Jogos   */
#jogos {
    width: 80%; /* Ajusta a largura da seção */
    max-width: 1200px;
    box-sizing: border-box;
    text-align: center;
    margin: 50px auto; /* Margem superior e inferior uniformes */
}

h2 {
    margin: 0;
    font-family: 'Staatliches', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-bottom: 20px;
}

/*-------------------------------------*/

.img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;
    transition: transform 0.3s ease, filter 0.3s ease; /* Transições suaves para o zoom e efeito de branco */
}

/*   Parceiros   */
#parceiros {
    width: 80%; /* Ajusta a largura da seção */
    max-width: 1200px;
    box-sizing: border-box;
    text-align: center;
    margin: 50px auto; /* Margem superior e inferior uniformes */
}

h2 {
    margin: 0;
    font-family: 'Staatliches', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-bottom: 20px;
}
/*-------------------------------------*/