*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
}

.container{
    max-width: 1500px;
    margin: 10px auto;
    padding: 12px;
}

/* ------ Parte do Header ------ */
#header-site {
    padding: 10px 10px;
    background-color: #EDEEE9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

/* logo*/
#header-site #img-header {
    width: auto;
    height: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#header-site #img-header img{
    height: 35px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

/* nav bar */
#header-site #nav-header {
    padding: 5px 0;
    height: 40px;
    display: flex;
    justify-content: center;
}

#header-site #nav-header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#header-site #nav-header ul .item-nav-header {
    height: 100%;
}

#header-site #nav-header ul .item-nav-header a {
    padding: 2px 15px;
    display: inline-block;
    color: #1b1b1b;
    font-size: 10px;
    text-decoration: none;
}

#header-site #nav-header ul .item-nav-header a:hover {
    box-shadow: 0 1px 0 #5a5658;
}

/* ------ Parte do Formulário ------ */
#secFormulario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 768px;
    gap: 25px;
    background-color: #5a5658;
    padding: 2rem 2rem 1.5rem;
}
    #ctd-form {
        padding: 12px;
    }
        #ctd-form h2{
            color: #EDEEE9;
        }
        #ctd-form p{
            color: #EDEEE9;
        }

    #formCadastro{
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: flex-end
    }
        .row{
            width: 450px;
            margin: 5px 0;
            display: flex;
            flex-direction: column;
        }

            .input{
                height: 40px;
                width: auto;
                border-radius: 0px;
                border: 1px solid #ffffff;
                background-color: #ffffff;
            }
                .input::placeholder{
                    padding: 5px;
                    color: #1b1b1b;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 300;
                }
            .input:focus {
                outline-color: #ff5ec5;
                box-shadow: 0 0 5px #333;
            }         

        #buttonSubmit {
            height: 30px;
            width: 100px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: #ff54ad;
            color: #EDEEE9;
            transition: background-color 0.1s ease-in-out;
        }
            
        #buttonSubmit:hover {
            color: #EDEEE9;
            font-weight: 600;
            background-color: #1b1b1b;
        }

/* ------ Parte dos Funcionarios ------ */
#listarFuncionarios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
    .card-funcionario {
        width: 25%;
        margin: 10px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    p{
        color: black;
        text-align: center;
    }
    .p1{
        font-size: 15px;
    }
    .p2{
        margin-top: 5px;
        font-size: 13px;
        color: #333;
    }
    #p3{
        font-size: 10px;
        color: #5a5658;
        border-top: 1px solid #eeeeee;
        margin-top: 5px;
        padding-top: 3px;
    }

#filtro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 768px;
}

#filtroform{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    gap: 10px;
}
    .rowfun{
        width: auto;
        margin: 5px 0;
    }
    .input-fun{
        height: 30px;
        width: auto;
        border-radius: 0px;
        border: 1px solid #3a3a3a;
        background-color: #ffffff;
    }
        .input-fun::placeholder{
            padding: 5px;
            color: #1b1b1b;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
        }
    #input-cargo-fun{
        width: 250px;
    }
    .input-fun:focus{
        outline-color: #f30cb7;
        box-shadow: 0 0 5px #333;
    }

    #buttonFiltrar{
        width: 50px;
        height: 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #1b1b1b;
        color: #EDEEE9;
        transition: background-color 0.1s ease-in-out;
    }   
    #buttonFiltrar:hover {
        color: #EDEEE9;
        font-weight: 600;
        background-color: #ff54ad;
    }

/* ------ Parte do Rodapé ------ */
#footer{
    display: flex;
    height: 55px;
    align-items: center;
    text-align: center;
    background-color:#EDEEE9;
    justify-content: center;
}
#footerp{
    align-items: center;
    text-align: center;
}

#footerp p{
    font-size: 15px;
}

#pp1{
    color: #ff54ad;
}
#pp2{
    color:#5a5658;
}